/* Definição das variáveis de cor para os temas */
:root {
    /* Tema Escuro (Padrão) */
    --bg-color: #260b01;
    --color-title: #593312;
    --text-color: #d9cec1;
    --primary-accent: #d9a679;
    --secondary-accent: #8c6b4f;
    --card-bg: #593312;
    --card-bg-transparent: rgba(89, 51, 18, 0.6);
    --header-bg: rgba(38, 11, 1, 0.7);
    --form-bg: rgba(38, 11, 1, 0.5);
    --hero-text-bg: rgba(255, 255, 255, 0.7);
    --hero-text-color: #260b01;
  }
  
  body.light-theme {
    /* Tema Claro (Sobrescreve as variáveis) */
    --bg-color: #FDF8F2;
    --color-subtitle: #593312;
    --text-color: #593312;
    --primary-accent: #8c6b4f;
    --color-background-soft:#593312;
    --secondary-accent: #593312;
    --card-bg: #FFFFFF;
    --card-bg-transparent: rgba(255, 255, 255, 0.6);
    --header-bg: rgba(253, 248, 242, 0.7);
    --form-bg: rgba(255, 255, 255, 0.5);
    --hero-text-bg: rgba(255, 255, 255, 0.8);
    --hero-text-color: #260b01;
  }
  .valores div{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
 
  /* Estilos Globais */
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  h1, h2, h3, label {
    font-family: "Playfair Display", serif;
  }
  
  /* Efeito Parallax */
  .parallax-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Componentes */
  .hero-wrapper {
    height: 85vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
      background-color: var(--header-bg) !important;
  }
  
  /* Estilos para formulários (usando as variáveis) */
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-accent);
    background-color: var(--card-bg);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  
  .form-input:focus {
    outline: none;
    border-color: var(--primary-accent);
    box-shadow: 0 0 0 2px var(--primary-accent);
  }
  
  .form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  input:disabled {
      background-color: rgba(0,0,0,0.1);
      cursor: not-allowed;
      opacity: 0.7;
  }
  
  .btn-primary {
    background-color: var(--primary-accent);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: red/* var(--secondary-accent) */;
  }
  